# Базовый Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
.venv/
venv/
env/

# Зависимости
*.egg-info/
dist/
build/

# Файлы IDE
.vscode/
.idea/

# ---------
# ДАННЫЕ
# ---------
# Игнорируем все научные данные
*.mat
*.dat
data/
